<!DOCTYPE html>
<html>
<head>
    <title>Autentifikācija</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Autentifikācija</h2>

        <form id="loginForm">
            <input type="text" id="username" placeholder="Lietotājvārds">
            <input type="password" id="password" placeholder="Parole">
            <button type="submit">Ieiet</button>
        </form>

        <div class="auth-footer">
            Nav konta? <a href="/register">Reģistrēties</a>
        </div>

    </div>

</div>

<script src="/static/js/auth.js"></script>

</body>
</html>