<!DOCTYPE html>
<html>
<head>
    <title>Reģistrācija</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Reģistrācija</h2>

        <form id="registerForm">
            <input type="text" id="username" placeholder="Lietotājvārds">
            <input type="password" id="password" placeholder="Parole">
            <button type="submit">Reģistrēties</button>
        </form>

        <div class="auth-footer">
            Jau ir konts? <a href="/login">Ieiet</a>
        </div>

    </div>

</div>

<script src="/static/js/auth.js"></script>

</body>
</html>