[Unit]
Description=Backup before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup.sh
TimeoutStartSec=300

[Install]
WantedBy=halt.target reboot.target shutdown.target